@font-face {
    font-family: BebasNeue;
    src: url("../font/BebasNeue-Regular.ttf")
}

html,
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    background-image: url(../images/opgaveStart.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Cabin', sans-serif;
}

@media only screen and (max-width: 1160px) {
    .wrapper {
        width: 100%;
    }
}

.main {
    width: 770px;
    background-color: white;
    height: 100%;
    display: table;
    border-bottom: 0px;
    border-top: 0px;
}

.sub-title {
    color: #fff;
    text-transform: uppercase;
    padding: 0 25px;
    margin-top: 40px;
    font-family: BebasNeue, Arial Narrow, Arial;
}

#school-title {
    font-size: 6rem;
}

#exam-title {
    font-size: 2rem;
    line-height: 2rem;
}

/* Menu styling start */
#menu {
    overflow: hidden;
    z-index: 100;
    margin-top: 15%;
    padding-top: 15%;
    line-height: 0px;
    min-width: 204px;
    max-width: 204px;
}

#menu .rootLinkActive,
#menu .rootMenu {
    display: block;
    height: auto;
    color: #333;
    text-decoration: none;
    margin-top: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 14px;
    margin: 0 8% 13px;
    align-items: center;
    border: 1px solid #fff;
}

#menu .subLinkActive,
#menu .subMenu {
    display: block;
    color: #000;
    text-decoration: none;
    align-items: center;
    border: 1px solid #fff;
    margin: 0 12% 13px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 14px;
}

#menu .subMenu a,
#menu .subLinkActive a,
#menu .subLinkActive a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 12px 15px;
    font-size: 11px;
}

#menu .rootMenu a,
#menu .rootMenu a:visited {
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.2em;
    padding: 12px 15px;
}

#menu .rootMenuMellemrum {
    line-height: 10px;
}

div#menu span:last-of-type {
    position: relative;
    bottom: 0;
    border: none !important;
    margin: 100px 0 0 !important;
}

#taskNumber {
    color: #333333;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 10px;
    height: 20px;
    padding-top: 150px;
    margin-left: 11.2%;
    margin-right: 5%;
}

/* Menu styling ends */

#content {
    display: table-cell;
    margin-left: 205px;
    height: 100%;
    max-width: auto;
    vertical-align: top;
    position: relative;
}

.top {
    display: table-cell;
    width: 800px;
    margin-bottom: -10px;
    background: white;
    border: 2px ridge lightgray;
    border: none;
    overflow: hidden;
    overflow: hidden;
}

#uvmLogo {
    position: absolute;
    top: 12px;
    right: 25px;
}

.PAGE {
    font-size: 16px;
    height: auto;
    line-height: 1.5em;
    overflow: hidden;
    padding: 3.55em 26px 60px 25px;
    width: 955px;
}

.titleColor {
    font-size: 90px;
    font-family: BebasNeue, Arial Narrow, Arial;
    text-transform: uppercase;
    margin-left: 100px;
    line-height: 52px;
    margin-top: 54px;
    margin-bottom: 40px;
}

.content-text {
    color: #000;
    font-family: Arial;
    margin-left: 100px;
}

.headline {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 26px;
}

#ordning {

    /* display: inline-block;
    border-bottom: 2px solid #000; */
    margin-bottom: 26px;
    font-size: 2.5rem;
}

#delprove {
    margin-bottom: 26px;
    font-size: 2.5rem;
}

#dateofexam {
    position: absolute;
    bottom: 20px;
    left: 100px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 34px;
}

h1,
h2,
h3,
h4 {
    display: block;
    margin: 0 0 5 0;
    padding: 0;
    font-weight: bold;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.0em;
}

a {
    color: #0000FF;
    text-decoration: underline;
}

a:visited {
    color: #990099;
}

a:hover {
    color: #FF0000
}

/* Video and audio styling start */
.videoFremviser {
    position: relative;
    width: 320px;
    height: 270px;
    overflow: hidden;
}

.videoTitle {
    position: absolute;
    top: 0px;
    z-index: 100000;
    height: 25px;
    width: 100%;
    font-size: 0.5em;
    background-color: black;
    opacity: 0.6;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}

.video {
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.audioFremviser {
    position: relative;
    width: 560px;
    overflow: hidden;
}

.audio {
    position: absolute;
    width: 100%;
}

.audioImage {
    position: absolute;
    top: 0px;
}

audio {
    width: 760px;
}

.audioTitle {
    position: absolute;
    top: 0px;
    height: 25px;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 0.47em;
}

#blanketMovie {
    background-color: #111;
    opacity: 1;
    *background: none;
    position: fixed;
    z-index: 9013;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#popUpDivMovie {
    position: fixed;
    width: 50%;
    height: auto;
    background-color: black;
    left: 0;
    right: 0;
    top: 8%;
    margin: 0 auto;
    z-index: 9014;
    border: 20px solid #262626;
    border-radius: 10px;
    font-size: 1em;
}

#closeDivLayerMovie {
    position: absolute;
    top: -32px;
    right: -37px;
    width: 30px;
    height: 25px;
    z-index: 9099;
    background-image: url(../images/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#closeDivLayer {
    position: absolute;
    bottom: -40px;
    right: 4px;
    width: 30px;
    height: 30px;
    z-index: 9099;
    background-image: url(../images/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#blanketImage {
    background-color: #111;
    opacity: 1;
    *background: none;
    position: fixed;
    z-index: 9013;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#popUpDivImage {
    position: fixed;
    width: 50%;
    height: auto;
    background-color: black;
    left: 0;
    right: 0;
    top: 8%;
    margin: 0 auto;
    z-index: 9014;
    border: 20px solid #262626;
    border-radius: 10px;
    font-size: 1em;
}

#closeDivLayerImage {
    position: absolute;
    top: -32px;
    right: -37px;
    width: 30px;
    height: 25px;
    z-index: 9099;
    background-image: url(../images/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.popdiv {
    display: none;
}

.popuplink {
    cursor: pointer;
}

#popUpDiv {
    position: fixed;
    max-width: 760px;
    max-height: 75%;
    background-color: black;
    left: 0;
    right: 0;
    top: 8%;
    margin: 0 auto;
    z-index: 9002;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 50px solid white;
    padding: 10px;
}

#popUpDiv img {
    padding: -8px;
}

#blanket {
    background-color: #111;
    opacity: 0.95;
    *background: none;
    position: fixed;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.popdivTitle {
    display: none;
}

#divTitle {
    position: absolute;
    bottom: -30px;
    left: 0%;
    z-index: 9099;
    color: black;
    padding-top: 13px;
    color: gray;
}

/* Video and audio styling ends */

.svg {
    position: relative;
}

.svg canvas {
    width: 100%;
    display: none;
    visibility: hidden;
}

.svg svg {
    width: 100%;
    height: 100%;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .svg canvas {
        display: block;
    }

    .svg svg {
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Tables and page elements styling */
.combinedTables:after {
    content: " ";
    clear: both;
    display: block;
}

.combinedTables table {
    float: left;
}

.bluebox {
    width: 100%;
    height: 30px;
    background-color: #7eb0d3;
}

.checkboxText {
    display: flex;
    align-items: baseline;
}

.numText {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.numText p {
    background-color: #7eb0d3;
    padding: 10px 21px;
    margin-left: 20px;
    font-weight: bold;
}

.td-place {
    padding-left: 10px;
    text-align: center;
}

.box-blue-border {
    display: flex;
    border: solid 2px #0360A7;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.box-blue-border>div:first-child {
    width: 60%;
    padding: 17px 46px 10px 10px;
}

.box-blue-border>div:last-child {
    width: 40%;
    background: #CCE0EF;
    padding: 15px 15px 0;
}

.box-blue-border * {
    box-sizing: border-box;
}

.box-blue-border ul {
    margin: 0;
}

.custom-equation {
    background: white;
    display: flex;
    padding: 12px;
    margin: 5px 0 15px;
    align-items: center;
    letter-spacing: 2px;
    font-size: 18px;
}

span.square {
    display: flex;
    width: 30px;
    height: 30px;
    border: solid 1px black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7px;
}

span.space {
    display: flex;
    margin: 0 8px;
}

.box-blue-border ul li {
    margin: 0 0 24px;
}

.box-blue-border ul li:last-child {
    margin: 0;
}

span.static-equation.mq-math-mode * {
    color: #000;
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table td,
.table th {
    border: 1px solid #232323;
    padding: 3px;
}

/* Tables and page elements styling ends */

/* Custom Mathquil start start */
.mq-math-mode .mq-selection .mq-non-leaf,
body span.static-equation.mq-math-mode * {
    background: transparent !important;
}

/* Custom Mathquill styling ends */